.env
NODE_ENV=production
PORT=3000
JWT_SECRET=+amy9z1lgKM619byoskvGWFdKfVspXF0wisTPBctr2QIoAqUMaSMq/VkFJ7uz26m5dTCn6nWaS+veQU14cmZPA==
ADMIN_EMAIL=admin@oracles.africa
ADMIN_PASSWORD=mVX0IORqvyFmoBf4Rjqeyg==
EMAIL_HOST=smtp.promail.africa
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=admin@oracles.africa
EMAIL_PASS=rgf2myj_muf@ykt@BJA
EMAIL_FROM=noreply@oracles.africa
DATABASE_PATH=./production.db
SESSION_SECRET=<generate-another-secret>
RATE_LIMIT_WINDOW=15
RATE_LIMIT_MAX_REQUESTS=100
LOG_LEVEL=info
BACKUP_RETENTION_DAYS=7

production.db
/node_modules
/uploads
